#feedPage {
  padding-top: 25px;
}

.feed-post-item img {
  max-width: 100%;
  height: auto;
}

.feed-post-item-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.feed-post-item-friend-name-container {
  padding-left: 15px;
}

.feed-post-item-friend-name-and-time {
  font-size: 0.75rem;
  color: #666;
}

.feed-post-item-title {
  font-weight: bold;
}

.feed-post-item-header .friend-icon {
  margin: 0 !important;
}
