.feed-post-item img {
  max-width: 100%;
  height: auto;
}

.feed-post-item-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.feed-post-item-friend-name-container {
  padding-left: 15px;
  width: calc(100% - 48px);
}

.feed-post-item-friend-name-and-time {
  font-size: 0.75rem;
  color: #666;
}

.feed-post-item-title {
  margin-bottom: 0.25rem !important;
}

.feed-post-item-header .friend-icon {
  margin: 0 !important;
  width: 48px;
}

.feed-post-item-summary {
  width: 100%;
}

.feed-post-item-summary > img {
  max-width: 35%;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
