.homepage-post .post-date {
  margin: 1rem 0;
}

.homepage-post + .homepage-post {
  margin-top: 6rem;
  position: relative;
}

.homepage-post + .homepage-post:before {
  display: block;
  content: '';
  position: absolute;
  top: -3rem;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #888;
  transform: rotate(45deg);
}


.homepage-post .item-footer {
  margin-top: 1rem;
}

.homepage-post .post-content h1,
.homepage-post .post-content h2,
.homepage-post .post-content h3,
.homepage-post .post-content h4,
.homepage-post .post-content h5,
.homepage-post .post-content h6 {
  font-size: 1.3rem;
}

.homepage-post .post-media {
  margin: 1rem -20px 1.5rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #efefef;
}

.homepage-post .post-media + hr {
  display: none;
}

.homepage-post .post-media a {
  display: flex;
  max-width: 50%;
  min-width: 33%;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  overflow: hidden;
}

.homepage-post .post-media a:hover,
.homepage-post .post-media a:active,
.homepage-post .post-media a:focus {
  z-index: 1;
}

.homepage-post .post-media a:hover img,
.homepage-post .post-media a:active img,
.homepage-post .post-media a:focus img{
  transform: scale(1.1);
}


.homepage-post .post-media a img {
  height: 100%;
  align-self: center;
  object-fit: cover;
  transition: all 0.2s;
}

.homepage-post .post-media a:first-child {
  max-width: 100%;
  width: 100%;
  max-height: none;
}

.homepage-post + .load-next {
  margin-top: 3rem;
}

@media screen and (max-width: 1023px) {
  .homepage-post {
    padding-left: 20px;
    padding-right: 20px;
  }
}
