.medias {
  display: flex;
  flex-flow: row wrap;
  margin-right: -5px;
}

.media-link {
  flex: auto;
  height: 250px;
  min-width: 80px;
  margin: 0 5px 5px 0;
  transition: all 0.2s;
}

.media-link:hover,
.media-link:focus,
.media-link:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.media-link img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
