#viewMedia .media-date {
  margin: 1rem 0;
  font-weight: normal;
}

#viewMedia .post-comments {
  margin-top: 2rem;
}

#viewMedia .media-container {
  text-align: center;
}

#viewMedia .media-title h2 {
  margin-top: 0;
}

#viewMedia .media-title h1 + h2 {
  margin-top: 1rem;
}

#viewMedia .media-container img {
  max-width: 100%;
}

#viewMedia .media-body .media-post .box {
  border: none;
  box-shadow: none;
  margin: -15px -15px 0 -15px;
}

#viewMedia .media-date,
#viewMedia .media-date a {
  color: #b5b5b5;
}
